*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:sans-serif;
    /* outline: 1px solid red; */

}

:root{
    --color-bg-primario: #f6f6f6;
    --color--letra--primaria: #dc91dc ;



    --tamaño-letra-primaria: 28px;
    --tamaño-letra-secundaria: 20px;
    --tamaño-letra-terciaria: 14px;

    --margin-container: 0 20px;
    

    --card-width: 300px;
    --card-heigth: 500px;

    --bordes--card: 25px;
    --border--card-img: 25px 25px 0 0;
    --color-bg-card: rgb(235, 230, 234, 0.3);


    --color-btn1: #ffc7d6;
    --color-btn2: #d1dab9;

}




.container{
    max-width: 1200px;

    /* height: 100vh; */
    margin: auto;
    margin-bottom: 0px;
    
    background-color: var(--color-bg-primario);
}
header{
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    height: 50px;
}

.nav__logo{
    display: flex;
}
.nav__logo img{
    width: 65px;
    height: 100%;
    margin-right: 25px;
}


.img__menu{

    display: flex;
    margin: auto 10px;
    display: none;
}
.img__menu img{

    width: 40px;
    height: 40px;
}


.nav__logo h1{
    font-size: var(--tamaño-letra-primaria);
    font-weight: 600;


    color: var(--color--letra--primaria) ;
    margin: auto;
    text-align: center;

    text-shadow: 1px 2px 5px  rgb(155, 154, 154);
}


.nav__menu{
    display: flex;
}

.menu{
    display: flex;
    text-align: center;

}
.menu .item{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px;

    font-size: 18px;
    font-weight: 600;

    padding: 0 10px;
    margin: 0 20px;

    color: var(--color--letra--primaria);
}
.menu .item a{
    color: var(--color--letra--primaria);
    text-shadow: 3px 3px 5px  rgb(155, 154, 154);
}
.item a:hover{
    background-color: #dc91dc;
    color: beige;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all .3s;
}

.landing{
    display: flex;
    width: 100%;
    height: calc(100% - 30px);
}

.landing__txt{

    width: 800px;
    height: 500px;
    margin: 10px 0;
    padding: 0 20px;
    text-align: start;
}
.landing__txt h1{
    font-size: 60px;
    font-weight: 500;
    text-shadow: 3px 3px 10px  rgb(155, 154, 154);
    padding: 0 20px;
    margin: 30px 20px;
    color: var(--color--letra--primaria);
}

.landing__parrafo{

    
    width: 500px;
    height: 150px;
    margin: 0 20px;

}
.landing__parrafo p{
    font-size: var(--tamaño-letra-secundaria);
    font-weight: 200;
    margin: 0 20px ;
    padding: 15px;
}

.landing__img{
    width: 800px;
    height: 550;
    margin: 15px;
    /* background-color: brown; */

}

.landing__img img{
    width: 100%;
    height: 100%;

}
.btns{
    display: flex;
    width: 400px;
    height: auto;
    margin: auto 26px;
    padding: 20px;
    flex-direction: column;
    text-align: center;
}
.btn-1 ,
.btn-2{
    display: block;




    width: 200px;
    height: 30px;

 
    margin: 10px;
    padding: 5px 15px;

    text-align: center;

    color: var(--color--letra--primaria);

    outline: 2px solid var(--color--letra--primaria);
    border-radius: var(--bordes--card);
}
.btn-1{
    outline: none;
    background-color: var(--color--letra--primaria);
    color: rgb(255, 248, 248);

}

.btn-1:hover{
    outline: 2px solid var(--color--letra--primaria);
    background-color: transparent;
    color: var(--color--letra--primaria);
    transition: all .3s;
}
.btn-2:hover{
    outline: none;
    background-color: var(--color--letra--primaria);
    color: rgb(255, 248, 248);
    transition: all .3s;
}


hr{
    max-width: 1200px;
    margin: 0 auto;


}

.main{
    background-color: white;
    
}

.productos{
    margin-top: 100px;
}

.productos__title{
    width: 100%;
    height: 50px;
    margin: 0;
    text-align: center;

}

.productos__title h1{
    margin: auto;
    padding: 0px 40px  10px;

    font-size: 32px;
    font-weight: 400;

    color: var(--color-btn1);

}


/* Swiper*/
/*.swiper {
    width: 100%;
    height: 550px;
    background-color: seagreen;

    
}*/

.swiper-wrapper{
    display: flex;
}

.swiper .prev-mujer,
.swiper .next-mujer{

    color: var(--color-btn1);
}
.swiper .prev-hombres,
.swiper .next-hombres{

    color: var(--color-btn2);

}


.card{

    width: var(--card-width);
    height: var(--card-heigth);
    background-color: #f6f6f6;

    margin: 45px;
    border-radius: var(--bordes--card);
}
.card__img{
    width: 100%;
    height: 250px;
}
.card__img img{
    width: 100%;
    height: 100%;
    border-radius: var(--border--card-img);
    object-fit: cover;
}

.card__contenido{
    text-align: start;
}
.card__contenido h2{
    text-align: center;
    padding: 10px;
    color: black;
    font-weight: 200;
    font-size: var(--tamaño-letra-secundaria);
}

.card__contenido p{
    font-size: var(--tamaño-letra-terciaria);
    width: 270px;
    padding: 10px;
    font-weight: 100;
}

.card__contenido .contenido__btn1{
    display: block;
    width: 150px;
    height: 30px;

    text-align: center;
    padding: 5px;
    margin: 20px;

    color: rgb(112, 106, 106);
    background-color: var(--color-btn1);
    
    border-radius: var(--bordes--card);
}

.contenido__btn1:hover{
    background-color: transparent;
    outline: 3px solid var(--color-btn1);
}


/*Ver mas */
.accordion{

    background-color: var(--color-bg-primario);
    width: 90%;
    padding: 1,5rem;
    margin: 60px auto;



    box-shadow: 0 0 10px -3px rgb(0, 0, 0, 0.5);

    border-radius: 6px;
    border-left: 4px solid var(--color-btn1);
}




.accordion__link{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    display: none;
}

.accordion__link i{
    display: inline-block;

    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: var(--color-btn1);
    text-decoration: none;
    font-weight: 500;
    font-size:  28px;
}


.accordion__item{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-row;
}

.items{
    overflow: hidden;
}
.items{
    display: flex;
    flex-wrap: wrap;
    gap: 1;

}

.accordion:has(:checked){
    --rows: 1fr;
}

.items .card{

    text-align: center;
    /* padding: 20px; */
    margin: 20px auto;
    background-color: var(--color-bg-card);
    box-shadow: 4px 4px 20px 1px rgb(0, 0, 0, 0.2);
}

/* Color del article "ver mas" hombre  */
.accordion--hombre{
    border-left: 4px solid #c4df7a;
}
.accordion-hombre i{
    color: var(--color-btn2);
}
.productos__title-hombres .title-hombres{
    color: var(--color-btn2);
}
.card__contenido .btn-2-hombre{
    background-color: var(--color-btn2);
}
.btn-2-hombre:hover{
    background-color: transparent;
    outline: 3px solid var(--color-btn2);
}

/* ___________________ */

/* details{
    width: 100%;

    border-radius: var(--bordes--card);
    border-left: 4px solid var(--color-btn1);
    padding: 20px;
    margin-bottom: 20px;
    animation: .3s ease-in-out;
}
summary i{
    font-size: 28px;
    font-weight: bold;
    color: var(--color-btn1);
    
    display: flex;
    padding: 10px 40px;
    justify-content: center;
    
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
}

.items .card{
    margin: 30px;
    padding: 0;
}


.productos__title-hombres .title-hombres{
    color: var(--color-btn2);
}

.card__contenido .btn-2-hombre{
    background-color: var(--color-btn2);
}

.details-hombres{
    border-left: 4px solid var(--color-btn2);
}
.summary-hombres i{
    color: var(--color-btn2);
} */




/*Sobre nosotros*/
.sobre__nosotros{
    margin-top: 20px;
    height: auto;

}

.sobre__detalles{
    display: flex;
    border-radius: var(--bordes--card);
    background-image: url(../logo/tiendaonlinesitioexpress.jpg);
    width: 100%;
    height: auto;
    position: relative;
    top: 0%;
    bottom: 0%;
    margin-top: 20px;
    

}
.sobre__detalles::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 50px;
    left: 0px;
    background-color: rgb(8, 8, 8, 0.5);
    border-radius: var(--bordes--card);

}


.detalles{
    width: 800px;
    height: 500px;
    margin: 10px 0;
    padding: 0 20px;
    text-align: start;
    z-index: 100;

}
.detalles h1{
    font-size: 60px;
    font-weight: 500;
    text-shadow: 3px 3px 10px  rgb(155, 154, 154);
    padding: 0 20px;
    margin: 30px 20px;
    color: var(--color--letra--primaria);

}


.sobre{
    display: flex;
    width: 100%;
}
.sobre__p{
        
    width: 600px;
    height: auto;
    margin: 0 20px;

}
.sobre__p p{
    font-size: var(--tamaño-letra-secundaria);
    font-weight: 400;
    margin: 0 20px ;
    padding: 15px;
    color: white;
}

.sobre__btn{

    display: flex;
    width: 400px;
    height: auto;
    margin: auto 26px;
    padding: 20px;

}
.sobre__btn a{

    display: block;




    width: 200px;
    height: 30px;

 
    margin: 10px;
    padding: 5px 15px;

    text-align: center;

    color: rgb(255, 255, 255);

    background-color: var(--color--letra--primaria);
    border-radius: var(--bordes--card);
}






.footer{
    /* position: absolute; */
    left: 100%;
    bottom: 0%;
    margin-top: 0%;
    height: auto;
    z-index: 100;
    border-radius: 20px;

}
.footer__pa{
    position: relative;
    width: 100%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    background-image: url(../logo/tiendaonlinesitioexpress.jpg);
    margin: 0px 0;
    border-radius: 20px;
}
.footer__pa::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 20px;
}

.footer .footer__adelante{
    position: relative;
    z-index: 100;
    margin: 20px 0;
    padding: 20px;
}

.logo__footer{
    display: flex;
    align-items: end;
    margin: 20px;

}
.logo__footer img{
    width: 220px;
    height: 160px;
    margin: 20px;
}
.logo__footer h1{
    font-size: 32px;
    margin: 20px;
    color: var(--color-btn1);
    
}
.logo__footer h1:hover{
    text-decoration: underline;
}



.footer__nav{
    display: flex;
    text-shadow: center;

    justify-content: space-around;

}
.footer__nav .list{
    align-items: centera;
    text-align: center;
    padding: 20px;
}
.list h3{
    font-size: 28px;
    font-weight: 600;
    color: var(--color-btn1);
    
}
.list ul li{
    color: var(--color-btn1);
    font-size: 18px;
    font-weight: 400;
}

.contacto{
    width: 50%;
    height: 350px;
    /* text-align: center; */
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;

}
.contacto h3{
    font-size: 28px;
    color: var(--color-btn1);
    text-align: center;
}
.contacto label{
    display: flex;
    flex-direction: column;
}
.contacto label input{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--color--letra--primaria);
    margin: 5px;
    color: rgb(255, 246, 246);
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 800;
}


@media only screen and (max-width:991px){
    .body{
        background-color: rgb(29, 29, 29);
    }
    .container{
        background-color: rgb(37, 37, 37);
        color: white;

    }


    /* Menu */
    .img__menu{

        display: flex;
        float: left;
    }

    .nav{
        /* position: relative; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px 0px;
        margin:0 0px 0px;
        height: 70px;

        margin: auto;
        width: 100%;
    
    }
    .nav__logo{
        width: 100%;
        margin: 0 20px;
        margin: auto;
        justify-content: space-between;
    }
    .nav__logo img{
        margin: auto 0px;
    }
    .nav__logo h1{
        font-weight: 300;
        margin: auto 0px;
    }
    .nav__menu{
        width: 100%;
        height: 10vh;
        /* display: none */
    }
    
    .menu{
        /* flex-direction: column; */
        /* justify-content: space-around; */
        /* align-items: center; */
        width: 53%;
        height: 100%;

        margin: 0%;
        padding: 22px;
        /* background-color: rgba(129, 22, 22, 0.9); */
        display: none;
    }
    .menu li{
        width: 80%;
        /* background-color: #c4df7a;  */
        text-align: start;
        margin: 0px;
        padding: 30px 15px; 

    }
    .menu .item{
        margin: 0%;
    }
    .menu .item a{
        display: block;
        font-size: var(--tamaño-letra-secundaria);
        width: 100%;
        text-align: start;
        margin: auto;
        padding: 20px;
        color: var(--color--letra--primaria);

    }
    .menu .item a:hover{
        color: #f6f6f6;
    }
    
    .img__menu{
        position: relative;
        /* float: left; */
        /* top: 15px;
        left: 280px; */
        width: auto;
        height: auto;
        margin: auto 0px;
    }
    .img__menu img{
        margin: 0%;

    }
    .show{
        display: block;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        height: 60vh;
        margin-left: 100px;
        padding: 0%;
        background-color: rgba(5, 5, 5, 0.9);
        text-align: center;

        text-shadow: none;

 
        z-index: 100;
        /* transform: rotateX(334deg)
		rotateY(30deg)
		perspective(900px)
		scale(1.1)
		translate(30px,70px)
		skew(180deg,180deg);
	    transform-origin: 16% top 50px; */
        

        border-radius: 25px;
    }
    .show li{
        width: 100%;
        margin-right: 0px;
    }
    .show li a{
        width: 100%;
        margin: 0;
    }


    /* Landing page */
    .landing-page{
        margin: 5px;
    }

    .landing .landing__txt{
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    .landing__txt h1{
        font-size: var(--tamaño-letra-primaria);
        margin: 40px 0px 20px;

    }
    .landing__parrafo{
        margin: 0%;
        padding: 0%;
        width: 100%;
        margin: 0 0 40px;
    }
    .landing__img{
        display: none;
    }

    .btns{
        width: 100%;
        margin: auto;
    }




    .productos{
        margin: 0;
    }
    .card{
        margin: auto;
        background-color: rgb(29, 29, 29);
        color: white;
    }
    .card__contenido h2{
        color: white;
    }

    .accordion{
        background-color: rgb(29, 29, 29);
    }
    .accordion .card{
        background-color: rgb(37, 37, 37);
    }

    .sobre__nosotros{
        width: 100%;
        height: auto;
    }
    
    .detalles{
        width: 100%;
    }
    .detalles h1{
        padding: 0%;
        font-size: var(--tamaño-letra-primaria);
    }
    .sobre__p{
        margin: 0%;
        width: 100%;
        height: auto;
        margin: 0 0 20px
    }
    .sobre__p p{
        font-size: var(--tamaño-letra-terciaria);
        font-weight: 100;
        width: 100%;
        height: auto;
    }
    .sobre__btn{
        margin: auto;
        width: 100%;
    }

    .logo__footer{
        flex-direction: column;
    }
    
    .footer__nav {
        flex-direction: column;
    }
    .footer__list{
        margin: 0;
        padding: 0;
    }
    .list{
        margin: 0%;
        padding: 0%;
    }


    .contacto{
        width: 100%;
    }


}